#book-title {
  color: #ff560d;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin: 1em;
}

.introduction {
  color: grey;
  font-family: "Garamond", serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

#recipes {
  color: #d1540a;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.subhead {
  color: black;
  font-family: "Garamond", serif;
  font-weight: bold;
  font-style: italic;
  margin: 10px 0px 0px 0px;
}

.recipe-title {
  font-family: "Helvetica", sans-serif;
  color: #ffb40d;
  font-weight: normal;
  text-align: center;
  margin: 30px 0px 0px 0px;
}

p {
  font-family: "Garamond", serif;
  color: black;
  line-height: normal;
  margin: auto;
}

h3 {
  font-family: "Garamond", serif;
  color: grey;
  line-height: normal;
  font-style: italic;
  margin: 0px 0px 40px 0px;
}

ul {
  font-family: "Garamond", serif;
  color: black;
  line-height: normal;
  margin: 10px 0px 10px 0px;
  list-style-type: circle;
}



















/* your CSS goes into this file. For example:

p {
  color: #ff00ff;
  text-decoration: underline;
}

btw, this is a CSS comment. Feel free to delete it.

 */
