#book-title {
  color: #ff400d;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin: 1em;
}

.introduction {
  color: grey;
  font-family: "Garamond", serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

#recipes {
  color: #ffa20d;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
}

.subhead {
  color: black;
  font-family: "Garamond", serif;
  font-weight: bold;
  font-style: italic;
}

.recipe-title {

}

p {
  font-family: "Garamond", serif;
  color: black;
  line-height: normal;
  margin: auto;


}

h3 {

}

ul {
  font-family: "Garamond", serif;
  color: black;
  line-height: normal;
  margin: auto;
  list-style-type: circle;


}



















/* your CSS goes into this file. For example:

p {
  color: #ff00ff;
  text-decoration: underline;
}

btw, this is a CSS comment. Feel free to delete it.

 */
